---
---

$header-bg-color: #005F85;
$header-bg-color-secondary: #0bb2ac;

$section-headings-color: #005b7f;

@import "{{ site.theme }}";

#content {
	max-width: 96rem;
}

.sidebar {
	position: fixed;
	z-index: 1;
	width: 16rem;
}

.current {
	color: #0bb2ac;
}