---
---

$header-bg-color: #245a7c;
$header-bg-color-secondary: #245a7c;

$section-headings-color: #005b7f;

@import "{{ site.theme }}";

#content {
	max-width: 96rem;
}

.page-header {
    color: #fff;
    text-align: center;
	background: rgb(11,178,172);
	background: linear-gradient(135deg, rgba(11,178,172,1) 0%, rgba(0,95,133,1) 67%);
}


